@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

body {
	margin: 0;


}


.crystal-background { /* with position on this it won't resize */
	margin: 0 auto;
	background-image: url(../images/crystals.svg);
	background-repeat: no-repeat;
	height: 700px;

}


.title {
	margin: 0;
	position: absolute;
	left:50%;
	width: 300px;
	font-size: 4em;
	color: white;
}



@media only screen and (min-width: 25em) {


.title {
	font-size: 10em;
}

}

@media only screen and (min-width: 38em) {

	.title {
		font-size: 12em;
	}

}

@media only screen and (min-width: 60em) {

	.title {
		font-size: 13em;
	}



}
