@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

body {
	margin: 0;
	background-color: black;
}


.crystal-background { /* with position on this it won't resize */
	margin: 0 auto;
	background-image: url(../images/crystals.svg);
	background-repeat: no-repeat;
	height: 700px;

}


.title {
	margin: 0;
	padding: 0;
	position: absolute;
	left: calc(50% - 107px);
	right: calc(50% - 107px);
	width: 215px;
	font-size: 4em;
	color: white;
}

.hamburger {
	position: absolute;
	margin: 0;
	height: 50px;
	width: 50px;
	right: 20px;
}

h1:hover {
	color: blue;
	transform: skewx(10deg);


}

.drop {
	position: absolute;
	margin:0;
	height: 50px;
	z-index: 3000;
	transform: translateY(350px);
	animation: drop-again 5s ease-in infinite;
}

@keyframes drop-again {
0% {transform: translateY(0px);
		opacity: 1; }
70% { opacity: 0.9; }

100% {transform: translateY(350px);
opacity: 0; }

}




@media only screen and (min-width: 25em) {


.title {
	font-size: 10em;
}

}

@media only screen and (min-width: 38em) {

	.title {
		font-size: 12em;
	}

}

@media only screen and (min-width: 60em) {

	.title {
		font-size: 13em;
	}



}
